<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
    <title>Document</title>
</head>
<body>
    <lord-icon
        src="https://cdn.lordicon.com/huwchbks.json"
        trigger="loop"
        colors="primary:#121331,secondary:#08a88a"
        style="width:250px;height:250px">
    </lord-icon>
</body>
</html>