<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
</head>
<body>
    
    <div className="header pt-11 pos-abs-tl w-100">
        <div className="container">
          <div className="row">
            <div className="col-12 text-center">
              <Link href="/">
                <a className="brand-logo">
                  <img src="static/logo-main-black.png" alt="" />
                </a>
              </Link>
            </div>
          </div>
        </div>
      </div>
      <div className="404-page bg-default min-h-100vh flex-all-center pt-lg-15 pt-xxl-17 pt-27 pb-lg-0 pb-18">
        <div className="container">
          <div className="row justify-content-center">
            <div className="col-lg-7 px-lg-9">
              <div
                className="card-404 text-center"
                data-aos="zoom-in"
                data-aos-duration="1000"
              >
              <img src="static/404.svg" alt="" className="w-100 px-9" />
                <div className="404-texts pt-14">
                  
                  <lord-icon
                      src="https://cdn.lordicon.com/huwchbks.json"
                      trigger="loop"
                      colors="primary:#121331,secondary:#08a88a"
                      style="width:250px;height:250px">
                  </lord-icon>
                  <h3 className="card-title font-size-9 font-weight-bold">
                    Page is not found!
                  </h3>
                  <p className="card-text font-size-4 px-xxl-28 px-xs-10 px-sm-13 px-lg-13 px-md-28 px-xl-22 px-0 mb-11">
                    Collaboratively administrate empowered markets via
                    plug-and-play networks. Dynamically procrastinate B2C
                    users after installed base.
                  </p>
                  <Link href="/">
                    <a className="btn btn-green btn-h-60 text-white rounded-5 w-180 m-auto text-uppercase">
                      Back to home
                    </a>
                  </Link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</body>
</html>